<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>게시글</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:text="${board.title}"></a>
                    <a th:href="@{/view/{id} (id=${board.id})}">내용 보기</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>