<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>
</head>
<body>
<div>
    <table th:border="1" th:witdh="150px">
        <thead>
        <tr>
            <th>게시글</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:text="${board.title}" th:href="@{/view/{id} (id=${board.id})}"></a>
            </td>
            <td th:text="${board.name}"></td>
            <td th:text="${#dates.format(board.date, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>