<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>
<div class="container">
    <div>
        <table th:border="1" th:width="200px">
            <tbody>
            <tr>
                <td>번호</td>
                <td th:text="${board.id}" th:width="150px"></td>
                <br>
            </tr>
            <tr>
                <td>제목</td>
                <td th:text="${board.title}" th:width="150px"></td>
                <br>
            </tr>
            <tr>
                <td>내용</td>
                <td th:text="${board.content}" th:cols="10" th:rows="50"></td>
                <br>
            </tr>

            </tbody>
        </table>
    </div>
    <form th:action="@{/view/{id}/remove (id=${board.id})}" method="post">
        <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>
        <button type="submit">삭제</button>
    </form>

    <form th:action="@{/view/{id}/fetch (id=${board.id})}" method="get">
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>